div.project {
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 20px;
  margin: 10px;
}

div.project .image {
  float: left;
  width: 50%;
  position: relative;
}

div.project .image img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

div.project .image .overlay {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  top: 0px;
  z-index: 10000;
  background-color: black;
  color: white;
  display: none;
}

div.project .desc {
  float: left;
  width: 50%;
}

div.buttons {
  border-top-width: 150px;
}
